<!--FOOTER-->
<footer class="footer-bg">
    <div class="news-redes container">
        <div class="newsletter">
            <span class="cor-1">newsletter</span>
            <form action="#">
                <input type="text" placeholder="type your email">
                <button type="submit" value="Subscribe" class="botao botao-2"><img src="../resource/site/assets/icon/octicon_mail-24-branco.svg" alt="">Subscribe</button>
            </form>
        </div>
        <ul class="redes-footer">
            <li>
                <a href="#"><img src="../resource/site/assets/icon/icon-twitter 1.svg" alt="Twitter"></a>
            </li>
            <li>
                <a href="#"><img src="../resource/site/assets/icon/raphael_feed.svg" alt="Feed"></a>
            </li>
            <li>
                <a href="#"><img src="../resource/site/assets/icon/icon-instagram 1.svg" alt="Instagram"></a>
            </li>
            <li>
                <a href="#"><img src="../resource/site/assets/icon/icon-facebook 1.svg" alt="Facebook"></a>
            </li>
            <li>
                <a href="#"><img src="../resource/site/assets/icon/icon-youtube 1.svg" alt="Youtube"></a>
            </li>
        </ul>
    </div>

    <div class="info-geral-footer container">
        <div class="info-empresa-footer">
            <img src="../resource/site/assets/icon/Guitar SuperheroM.svg" alt="Guitar Superhero logo">
            <p class="cor-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
        </div>
        <div class="navegacao-footer">
            <h3 class="cor-1">Navegação</h3>
            <ul class="navegacao-lista cor-1">
                <li><a href="#">Minha Conta</a></li>
                <li><a href="#">Meus pedidos</a></li>
                <li><a href="#">Lista de Desejos</a></li>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
        <div class="navegacao-footer">
            <h3 class="cor-1">Navegação</h3>
            <ul class="navegacao-lista cor-1">
                <li><a href="#">Categoria 01</a></li>
                <li><a href="#">Categoria 02</a></li>
                <li><a href="#">Categoria 03</a></li>
                <li><a href="#">Categoria 04</a></li>
                <li><a href="#">Categoria 05</a></li>
            </ul>
        </div>
        <div class="contato-geral-footer">
            <h3 class="cor-1">Fale com nós</h3>
            <ul class="contato-footer">
                <li class="cor-1">
                    <a href="#"><img src="../resource/site/assets/icon/localização.svg" alt="localização"></a>
                    Rua ALi Perto Nº 210, Bairro, Porto Alegre
                </li>
                <li class="cor-1">
                    <a href="#"><img src="../resource/site/assets/icon/email.svg" alt="E-mail"></a>
                    suporte_superhero@email.com
                </li>
                <li class="cor-1">
                    <a href="#"><img src="../resource/site/assets/icon/fone.svg" alt="Telefone"></a>
                    +55 (51) 999-999-999
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-final-bg">
        <div class="footer-final container">
            <img src="../resource/site/assets/icon/Guitar Superhero P.svg" alt="Guitar Superhero logo">
            <p class="cor-1">© 2023 Marcelo Bogado - Alguns direitos reservados.</p>
            <ul class="cartoes">
                <li>
                    <img src="../resource/site/assets/icon/mastercard.svg" alt="Mastercard">
                </li>
                <li>
                    <img src="../resource/site/assets/icon/visa.svg" alt="Visa">
                </li>
                <li>
                    <img src="../resource/site/assets/icon/discovery.svg" alt="Discover">
                </li>
                <li>
                    <img src="../resource/site/assets/icon/paypal.svg" alt="paypal">
                </li>
            </ul>
        </div>
    </div>
</footer>



<script src="../resource/site/javascript/script.js"></script>
</body>
</html>